body{
        background-image: url("water.jpg");
        padding: 0;
        margin:0;
        font-family: sans-serif;
    }
    #content{
    margin:0 auto;
    width: 960px;
    }
    #menu{
        width: 100%;
        height: 800px;
        overflow: auto;
        float: left;
        background-color:#79DAE8;
    }
    #footer{
        text-align: center;
        color: black;
        width: 100%;
        height: 40px;
        float: left;
        background-color: #0AA1DD;
    }
    #wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    }
    .menu-malasngoding{
        background-color: #0AA1DD;
    }
 
    .menu-malasngoding ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
 
    .menu-malasngoding > ul > li {
        float: left;
    }
 
    
    .menu-malasngoding li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
 
    .menu-malasngoding li a:hover{
        background-color: #2155CD;
    }
 
    li.dropdown {
        display: inline-block;
    }
 
    .dropdown:hover .isi-dropdown {
        display: block;
    }
 
    .isi-dropdown a:hover {
        color: #fff !important;
    }
 
    .isi-dropdown {
        position: absolute;
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        background-color: #f9f9f9;
    }
 
    .isi-dropdown a {
        color: #3c3c3c !important;
    }
 
    .isi-dropdown a:hover {
        color: #232323 !important;
        background: #f3f3f3 !important;
    }